
:root{
    --color-primary: #398BF7;
    --color-secondary:#3B54B8;
    --color-fondo:##F4F6F8;
    --color-scroll:#c7c7c7;
    --color--cancelar:#DC3545;
    --color--guardar:#06D79C;


  }
  
html{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color:#F2F3FA;
}
/**********************************************************************************************
/*start --------------------------------------------------------------------------
#Reglas Generales
 --------------------------------------------------------------------------  start*/
 .bg-color-p{
     background-color: var(--color-primary);
     border: 0.8px solid var(--color-primary);
 }
 .shadow-ui{
     /* box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2); */
    }
    .box-generar ,.box-product{
        background-color: white;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        height: 100%;
}

/*--------#Reglas Generales-----------------------------------------------  end*/


 /**********************************************************************************************
/*start-----------------------------#main-------------------------------  start*/
.main{
    background-color:#F2F3FA;
}
.main-content{
    /* background-color:rgb(255, 255, 255); */
    border-radius: 5px;
    /* margin: 0.5rem;
    padding:0.8rem;     */
}
.main-title{
    justify-content:space-between;
}
  
  .main-title{      
      font-weight: 600;
  }
  .main-title > p{
    all: unset;
    font-size: 1.1rem;
    padding:0px;
    font-weight: 700;
    color: var(--color-primary);
  }
/*end ------------------------------------#main ------------------------------  end*/


/**********************************************************************************************
/*start -------------------#box-product ------------------------------------  start*/
 .box-product-form{
    border: 0.8px solid var(--color-primary);
    color: #8C8C8C;
 }
 /* .box-product,.box-generar{
     margin:0.50rem;
 } */
 .box-product{
     margin-right: 0.4rem;
 }
 .box-generar{
     margin-left: 0.4rem;
 }
 .box-product-btn{
    border: 0.8px solid var(--color-primary);
    color: var(--color-primary);
    
}

.product-items-list{
    height: 70vh;
}
/* Scroll personalizado lista product */
.product-items-list{
    overflow-y: scroll;    
}
.product-items-list::-webkit-scrollbar{
    width: 6px;
    border: 2px solid white;    
}  
.product-items-list::-webkit-scrollbar-thumb {
    background: var(--color-scroll);
    border-radius:6px;  
  }

  /* Lista de productos */
  .item{
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2); 
    padding: 0.3rem; 
    background-color: white; 
    margin-bottom: 0.7rem;
    /* height: 7vh; */
  }
  .item:hover{
      border: 1px solid var(--color-primary);
      box-shadow: 0;
      transition: all 0.6 ease;
  }  
  .item-img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 4px;
  }
  .item-description-code{
      font-size: 0.78rem;
      color: var(--color-primary);
      font-weight: bold;
  }
  .item-description > h2{
      margin: 0;
  }
  .item-description-title{
      font-size: 0.72rem;
      color: var(--color-primary);
      
  }
  .box-item-img{
      width: 70%;
  }
  .item-description-precies{
      font-size: 0.8rem;
      color:#919294;
    }
    .items-number{
        width: 30%;
    }
    .text-number{
        color: var(--color-primary);
        font-size: 0.78rem;
        font-weight: bold;
        text-align: right;        
    }
    .text-niu{
        font-size: 0.7rem;
        text-align: right;      
        color:#919294;        
  }
  @media (max-width: 1199px) {
    .product-items-list{
        height: 30vh;
    }
  }
  @media (max-width: 1379px) {
    .box-product, .box-generar{
        margin: 0;
    }
    
    .main-content{
        margin: 0.2rem;
        padding: 0.3rem;
    }
    .box-product{
        padding: 0;
    }    
    .main-title > p{
        font-size: 1rem;
    }
    .item-img{
        width: 60px;
        height: 60px;
      }
    .item-description-code{
        font-size: 0.75rem;
    }
    .item-description-title{
        font-size: 0.7rem;
    }
    .item-description-precies{
        font-size: 0.7rem;
      }
    .text-number{
        font-size: 0.8rem;
    }
    .text-niu{
        font-size: 0.6rem;    
    }
  }
  @media (max-width: 1195px) {
    .box-item-img{
        width: 77%;
    }  
    .items-number{
          width: 23%;
    }
  }
  @media (max-width: 1110px) {
    .item-description{
        margin-left: 0.5rem !important;
    }
    .box-item-img{
        width: 75%;
    }  
    .items-number{
          width: 25%;
    }
    .item-description-title{
        font-size: 0.72rem;
    }
    .item-description-precies{
        font-size: 0.6rem;
    }
  }

  @media (max-width: 991px) {
      /* box padres */
      .box-product{        
        /* height: 40vh; */
        height: 35vh;
    }
      /* box padres */
    .product-items-list{
        height: 28vh;
        /* height: 32vh; */
    }
    .main-title > p{
        font-size: 0.88rem;
    }
    .box-item-img{
        width: 70%;
    }  
    .items-number{
          width: 30%;
    }
    .item-img{
        width: 60px;
        height: 60px;
      }
    .item-description-code{
        font-size: 0.78rem;
        font-weight: bold;
    }
    .item-description-title{
        font-size: 0.80rem;
    }
    .item-description-precies{
        font-size: 0.75rem;
      }
    .text-number{
        font-size: 0.75rem;
    }
    .text-niu{
        font-size: 0.7rem;    
    }
    .main-content{
        margin: 0;
        padding: 0;
    }
    .box-product{
        padding: 0;
        border: 0 !important;        
    }
  }

  @media (max-width: 700px) {
    .main-title > p{
        font-size: 0.88rem;
    }
    .box-item-img{
        width: 77%;
    }  
    .items-number{
          width: 23%;
    }
    .item-img{
        width: 70px;
        height: 75px;
        vertical-align: middle;
      }
    .item-description-code{
        font-size: 0.75rem;
    }
    .item-description-title{
        font-size: 0.75rem;
    }
    .item-description-precies{
        font-size: 0.6rem;
      }
    .text-number{
        font-size: 0.7rem;
    }
    .text-niu{
        font-size: 0.6rem;    
    }
    .main-content{
        margin: 0;
        padding: 0;
    }
    .box-product{
        padding: 0;
        border: 0 !important;        
    }
  }
/*end ------------------------------------#box-product-----------------------  end*/

/*start ------------------------------------# Generar pedido---------------  start*/
.box-title-generar{
    justify-content: space-between;

}
.money-cambio > div > p{
    line-height: 30px;
    font-size: 0.8rem;

}
.form-box{
    border: 1px solid var(--color-primary);
}
.cambio-sunat{
    font-size:0.96rem;
    color: var(--color-primary);
}
.title-generar{
    font-size: 1.2rem; 
    font-weight: bold; 
    color: var(--primary);
}

.pedidos-tabla{
    height:35vh;
    padding:0 0.3rem;
}
.pedidos-tabla::-webkit-scrollbar{
    /* width:7px; */
    width: 6px;
    border: 2px solid white;  
    
}
.pedidos-tabla::-webkit-scrollbar-thumb {
    background: var(--color-scroll);
    border-radius:6px;
        
}

.pedidos{
    padding-top: 0.2rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--color-scroll) !important;
}
.table{
    /* all: unset; */
    border-color: unset !important ;
}

.tabla-items tr{
    text-align:left;
    font-size: 0.75rem;
    /* border: 1px solid #a7a7a7 !important; */
  border-radius: 5px 5px 0px 0px !important;
  -moz-border-radius: 5px 5px 0px 0px !important;
  -webkit-border-radius: 5px 5px 0px 0px !important;
}
.tabla-items tr td{    
    vertical-align:middle;
}
.description-item{
    font-size: 0.72rem;
    color: var(--primary);
    font-weight: 600;
}
.operacion-item{
    font-size: 0.60rem;
}
.table-hover .cambio tr:hover {
    /* background-color:rgb(27 27 28 / 15%); */
}
.table-list-items{
    width: 100%;
}
.head-table{
    background-color: var(--color-primary);
    color: white;
}
.cambio > tr{
    /* background: #b30b0b; */
    /* box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);     */
    border-radius: 3px;    
    /* border: 0.2px solid var(--color-primary); */
    /* padding:15px; */
    
}
.sub_title_comprobante{
    font-size:0.78rem;
    color:white;
}
.btn-nuevo{
    all: unset;
    color:#06D79C;
}
.actions-generar{
    font-size:0.7rem;
    color:white;

}
.actions-generar > p{
    margin: 0 0.8rem;
}
.total-pedido{
    display:flex;
    justify-content:space-between;
}
.total-pedido>h6{
    color:white;

}


.cantidad{
    width: 6rem;
    margin: 0 auto;
    font-size: 11px;
}
.remove-item{
    all: unset;
    font-size:0.95rem;       
    color: #F53137;   
    padding:0.5rem; 
    cursor: pointer !important;
}
.remove-item:hover{
    cursor: pointer !important;
    all: unset;
    font-size:0.95rem;       
    color: white;    
    background-color: #F53137;
    padding:0.5rem; 
    border-radius: 3px;
}
.btn-cancel{
    background-color: #DC3545;
    color: white;
}
.btn-cancel:hover{
    background-color: #bd2e3c;
    color: white;
}
.btn-generic {
    background-color:#06D79C;
    color: white;
}
.btn-generic:hover {
    background-color:#0fb988;
    color: white;
}

@media (max-width: 1379px) {
    .money-cambio > div > p{
        font-size: 0.85rem;
    }
    .title-generar{
        font-size: 1rem;         
    }
    .input-group-sm>.input-group-append>.btn{
        font-size:0.7rem;
    }
}
@media (max-width: 1199px) {
    .pedidos-tabla{
        height:20vh;
    }
    .box-content-2{
        padding-bottom:2rem;
    }
    .box-generar{
        margin-top: 1.4rem;        
    }
  }
@media (max-width: 991px) {
    .box-generar{
        margin-top: 0.5rem;
        height:60vh;
    }
    .title-generar{
        font-size:0.88rem;
    }
    .money-cambio > div > p{
        font-size:0.7rem;
    }
    .form-box{
        font-size: 0.7rem;
    }
  }
@media (max-width: 540px) {
    .box-header-1{
        flex-direction: column !important;
        /* justify-content:space-between; */
    }
  }